CompiledDomainModel/CompiledDomainModel.Demo.SLFeedReader/Service References/FeedReaderService/SitecoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sitecorewebsite/MyDomainModel/Wcf/SitecoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://sitecorewebsite/MyDomainModel/Wcf/SitecoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" />
  <xs:import schemaLocation="http://sitecorewebsite/MyDomainModel/Wcf/SitecoreService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetItemByIdResult" nillable="true" type="q2:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetItemByPathResult" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetRootItemResult" nillable="true" type="q4:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIds" nillable="true" type="q5:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetItemsByIdsResult" nillable="true" type="q6:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="SelectItemsResult" nillable="true" type="q7:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSingleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSingleItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="SelectSingleItemResult" nillable="true" type="q8:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItemsUsingXPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItemsUsingXPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="SelectItemsUsingXPathResult" nillable="true" type="q9:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSingleItemUsingXPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSingleItemUsingXPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="SelectSingleItemUsingXPathResult" nillable="true" type="q10:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentItemId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetChildrenResult" nillable="true" type="q12:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="parentItemId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="newItem" nillable="true" type="q14:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="CreateItemResult" nillable="true" type="q15:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="item" nillable="true" type="q16:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="item" nillable="true" type="q17:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedPaths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixedPathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="GetFixedPathsResult" nillable="true" type="q18:FixedPaths" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MyDomainModel.Wcf" minOccurs="0" name="feed" nillable="true" type="q19:Feed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshFeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>